@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$primary-clr: #9356DC;
$secondary-clr: #FF79DA;
$tertiary-clr: #99E2D0;
$light-tert-clr: lighten($tertiary-clr, 15%);
$lighter-tert-clr: lighten($tertiary-clr, 20%);

@mixin home-img-display {
    margin: 0 30px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    position: relative;
    height: 240px;
    max-width: 100%;
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 62%;
    }
}

@mixin new-restaurant-btn {
    p {
        z-index: 1;
        top: 0;
        right: 0;
        margin-right: 15px;
        padding: 10px 10px;
        position: absolute;
        background-color: $tertiary-clr;
        border-radius: 5px;
    }  
}

@mixin flex-center-x2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: roboto, cursive;
    a {
        text-decoration: none;
        color: black;
    }
    li {
        list-style: none;
    }
}

body {
    margin: 0 auto;
}

header {
    @include flex-center-x2;
    p {
        font-family:  shrikhand, cursive;
        font-size: 7.5vw;
        margin: 0;
        padding: 10px 0;
        @media screen and (min-width:1020px) {
            font-size: 5vw;
        }
    }
}

.loc {
    @include flex-center-x2;
    font-size: 4.5vw;
    background-color: $light-tert-clr;
    position: relative;
    @media screen and (min-width:1020px) {
        font-size: 3vw;
    }
    &__mark {
        margin-right: 3vw;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: 6px;
        background: linear-gradient($tertiary-clr, $light-tert-clr);
    }
}

#intro {
    background-color: $lighter-tert-clr;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
    h1 {
        margin: 0;
        width: 70%;
        text-align: center;
        font-size: 5vw;
        @media screen and (min-width:760px) {
            width: 60%;
        }
        @media screen and (min-width:1020px) {
            font-size: 3vw;
        }
    }
    h2 {
        font-weight: lighter;
        text-align: center;
        font-size: 4vw;
        @media screen and (min-width:1020px) {
            font-size: 3vw;
        }
    }
    button {
        margin-top: 20px;
        background: linear-gradient(350deg, $primary-clr, lighten($primary-clr, 15%));
        border-radius: 50px;
        border: none;
        color: white;
        padding: 20px 30px;
        font-size: 4vw;
        box-shadow: 0 0 15px 5px $tertiary-clr;
        @media screen and (min-width:1020px) {
            font-size: 3vw;
        }
        @media screen and (min-width:1400px) {
            font-size: 2.5vw;
        }
    }
}

.container {
    &__title {
        margin: 50px 0 30px 30px;
        font-size: 6vw;
        @media screen and (min-width:1020px) {
            font-size: 4vw;
            margin-bottom: 50px;
        }
        @media screen and (min-width:1400px) {
            font-size: 3vw;
            margin-left: 40px;
        }
        &:last-of-type {
            padding-top: 50px;
        }
    }
    &:last-of-type {
        background-color: $lighter-tert-clr;
    }
}

.guide {   
    @include flex-center-x2;
    flex-direction: column;
    padding: 0;
    @media screen and (min-width:1020px) {
        flex-direction: row;
        justify-content: space-around;
    }
    &__step {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 80%;
        margin-bottom: 25px;
        padding: 15px 0;
        background-color: $lighter-tert-clr;
        border-radius: 30px;
        box-shadow: 0 0 20px $tertiary-clr;
        font-size: 4vw;
        counter-increment: li;
        @media screen and (min-width:760px) {
            margin-bottom: 40px;;
        }
        @media screen and (min-width:1020px) {
            font-size: 1.5vw;
            width: 25%;
        }
        @media screen and (min-width:1400px) {
            width: 27%;
        }
        &::before {
            content: counter(li); 
            color: white;
            background-color: $primary-clr;
            border-radius: 15px;
            display: inline-block;
            padding: .8vw 2vw;
            margin-left: -15px;
            @media screen and (min-width:760px) {
                border-radius: 30px;
                margin-left: -28px;
            }
            @media screen and (min-width:1020px) {
                padding: .5vw 1vw;
                margin-left: -17px;
            }
            @media screen and (min-width:1400px) {
                margin-left: -23px;
            }
        }
        &__icon {
            margin: 0 30px;
            color: darken($tertiary-clr, 35%);
            @media screen and (min-width:1020px) {
                margin: 0 20px;
            }
            @media screen and (min-width:1400px) {
                margin: 0 30px;
            }
        }
    }
}

.places {
    @media screen and (min-width:1020px) {
        display: flex;
        flex-wrap: wrap;
    }
    a {
        @media screen and (min-width:1020px) {
            width: 50%;
        }
        @media screen and (min-width:1400px) {
            width: 25%;
        }
    }
    &__card {
        padding: 0 0 30px 0;
        margin: 0;
        /*img modifier creation loop*/
        $i: 1;
        @while $i < 5 {
            @if $i < 3 {
                &__img--#{$i} {
                    @include home-img-display;
                    @include new-restaurant-btn;
                    @media screen and (min-width:760px) {
                        height: 400px;
                    }
                    @media screen and (min-width:1020px) {
                        height: 300px;
                    }
                    @media screen and (min-width:1400px) {
                        height: 400px;
                    }
                }
            } @else {
                &__img--#{$i} {
                    @include home-img-display;
                    @media screen and (min-width:760px) {
                    height: 400px;
                    }
                    @media screen and (min-width:1020px) {
                        height: 300px;
                    }
                    @media screen and (min-width:1400px) {
                        height: 400px;
                    }
                }
            }
            $i: $i + 1;
        }
        &__info {
            margin: 0 30px;
            padding-left: 15px;
            border-radius: 0 0 15px 15px;
            box-shadow: 0 0 10px 5px $light-tert-clr;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            &__txt {
                h3{
                    margin-bottom: 0;
                    @media screen and (min-width:1400px) {
                        font-size: 1.2vw;
                    }
                }
                p {
                    margin-top: 5px;
                    @media screen and (min-width:1400px) {
                        font-size: 1.2vw;
                    }
                }
            }
            &__icon {
                margin-right: 20px;
                font-size: 5vw;
                @media screen and (min-width:1020px) {
                    font-size: 4vw;
                }
                @media screen and (min-width:1400px) {
                    font-size: 3vw;
                }
            }
        }
    } 
}

footer {
    padding: 20px 0 20px 30px;
    background-color: darken($tertiary-clr, 60%);
    @media screen and (min-width:1020px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
    p {
        margin: 0;
        color: white;
        padding: 0 0 10px 0;
        @media screen and (min-width:1020px) {
            margin-right: 50px;
            font-size: 1.6vw;
        }
        i {
            padding-right: 5px;
        }
        .fa-hands-helping {
            font-size: 2vw;
            @media screen and (min-width:1020px) {
                font-size: 1.2vw;
            }
        }
    }
    &> p {
        margin: 0;
        padding-bottom: 20px;
        font-family: shrikhand, cursive;
        font-size: 4vw;
        @media screen and (min-width:1020px) {
            margin-right: 50px;
        }
    }
}

/*Menus settings*/

.rest-header {
    a {
        font-size: 5vw;
        flex: 1;
        margin-left: 30px;
        @media screen and (min-width:760px) {
            flex: 2;
            margin-left: 50px;
        }
        @media screen and (min-width:1020px) {
            margin-left: 80px;
        }
    }
    p {
        flex: 3;
        @media screen and (min-width:760px) {
            flex: 6;
        }
        @media screen and (min-width:1020px) {
            flex: 4;
        }
    }
}

figure {
    z-index: -1;
    position: relative;
    margin: 0;
    @media screen and (min-width:760px) {
        height: 500px;
    }
    img {
        width: 100%;
        @media screen and (min-width:760px) {
            height: 100%;
        }
        @media screen and (min-width:1020px) {
            object-fit: cover;
            object-position: center 95%;
        }
        @media screen and (min-width:1400px) {
            object-position: center 70%;
        }
    }
}

.rest-container {
    display: flex;
    flex-direction: column;
    background-color: $lighter-tert-clr;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px 20px 30px;
        h2 {
            margin: 0;
            font-family: shrikhand, cursive;
            font-size: 7vw;
            @media screen and (min-width:760px) {
                font-size: 6vw;
            }
        }
        i {
            font-size: 7vw;
            @media screen and (min-width:760px) {
                font-size: 5vw;
            }
        }
    }
    &__course {
        color: darken($tertiary-clr, 50%);
        margin: 50px 0 5px 30px;
        font-size: 5vw;
        @media screen and (min-width:760px) {
            font-size: 4vw;
        }
        @media screen and (min-width:1020px) {
            font-size: 2vw;
        }
    }
    &__divider {
        height: 3px;
        width: 60px;
        background-color: $tertiary-clr;
        margin-left: 30px;
        @media screen and (min-width:760px) {
            height: 5px;
            width: 100px;
        }
        @media screen and (min-width:1020px) {
            height: 4px;
            width: 80px;
        }
    }
    &__menu {
        margin: 0 30px;
        padding: 0;
        @media screen and (min-width:1020px) {
            display: flex;
            justify-content: space-around;
        }
        &--note {
            @media screen and (min-width:1020px) {
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        &__option {
            background-color: white;
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            border-radius: 20px;
            box-shadow: 0 0 20px $tertiary-clr;
            @media screen and (min-width:1020px) {
                width: 32%;
            }
            &> p {
                align-self: flex-end;
                padding-right: 30px;
                font-size: 4vw;
                @media screen and (min-width:760px) {
                    font-size: 3vw;
                }
                @media screen and (min-width:1020px) {
                    font-size: 1.5vw;
                }
            }
            &__txt {
                padding-left: 20px;
                h3 {
                    margin: 15px 0 5px 0;
                    font-size: 4.5vw;
                    @media screen and (min-width:760px) {
                        font-size: 3vw;
                    }
                    @media screen and (min-width:1020px) {
                        font-size: 1.3vw;
                    }
                }
                p {
                    font-size: 3.9vw;
                    margin: 0 0 15px 0;
                    @media screen and (min-width:760px) {
                        font-size: 3vw;
                    }
                    @media screen and (min-width:1020px) {
                        font-size: 1.3vw;
                    }
                }
            }
        }
    }
    &__btn {
        align-self: center;
        width: 40%;
        margin: 30px 0 60px 0;
        background: linear-gradient(350deg, $primary-clr, lighten($primary-clr, 15%));
        border-radius: 50px;
        border: none;
        color: white;
        padding: 20px 30px;
        font-size: 4vw;
        box-shadow: 0 0 15px 5px $tertiary-clr;
        @media screen and (min-width:1020px) {
            font-size: 3vw;
            width: 30%;
            margin-top: 50px;
        }
    }
}

#note-img {
    img {
        height: 330px;
        object-fit: cover;
        object-position: center;
        @media screen and (min-width:760px) {
            height: 100%;
            object-position: center 65%;
        }
        @media screen and (min-width:1020px) {
            object-position: center 15%;
        }
    }
}