@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/*Global color charts variables*/
/*Home img loop variable*/
/*Menu options loop variables*/
* {
  font-family: roboto, cursive;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: black;
}
* li {
  list-style: none;
}

body {
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  body {
    margin: 0 180px;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header p {
  font-family: shrikhand, cursive;
  font-size: 7.5vw;
  margin: 0;
  padding: 10px 0;
}
@media screen and (min-width: 760px) {
  header p {
    font-size: 4vw;
  }
}
@media screen and (min-width: 1020px) {
  header p {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1400px) {
  header p {
    font-size: 2.5vw;
  }
}

footer {
  padding: 20px 0 20px 20px;
  background-color: #10392f;
}
@media screen and (min-width: 1020px) {
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
  }
}
footer p {
  margin: 0;
  color: white;
  padding: 0 0 10px 0;
}
@media screen and (min-width: 1020px) {
  footer p {
    font-size: 1.2vw;
  }
}
@media screen and (min-width: 1400px) {
  footer p {
    font-size: 1vw;
  }
}
footer p i {
  padding-right: 5px;
}
footer p .fa-hands-helping {
  font-size: 2vw;
}
@media screen and (min-width: 1020px) {
  footer p .fa-hands-helping {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 1400px) {
  footer p .fa-hands-helping {
    font-size: 1vw;
  }
}
footer > p {
  margin: 0;
  padding-bottom: 10px;
  font-family: shrikhand, cursive;
  font-size: 4vw;
}
@media screen and (min-width: 1020px) {
  footer > p {
    font-size: 2vw;
  }
}

.loader {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background: #99E2D0;
  animation: fade 3000ms ease-in-out forwards;
}
.loader__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.loader__inner__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loader__inner__content span {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 4px;
  border-color: #FF79DA;
  border-top-color: #9356DC;
  animation: spin 3000ms ease-in-out forwards;
  border-radius: 100%;
  border-style: solid;
}

@keyframes fade {
  0%, 20%, 40% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }
  20% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(1080deg);
  }
  80% {
    transform: rotate(1440deg);
  }
  100% {
    transform: rotate(1800deg);
    z-index: -2;
  }
}
.loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5vw;
  background-color: #d5f3eb;
  position: relative;
}
@media screen and (min-width: 760px) {
  .loc {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1020px) {
  .loc {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1400px) {
  .loc {
    font-size: 1.5vw;
  }
}
.loc__mark {
  margin-right: 3vw;
}
@media screen and (min-width: 1020px) {
  .loc__mark {
    margin-right: 1.5vw;
  }
}
.loc::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 6px;
  background: linear-gradient(#99E2D0, #d5f3eb);
}

#intro {
  background-color: #e8f9f5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 50px;
}
#intro h1 {
  margin: 0;
  width: 70%;
  text-align: center;
  font-size: 5vw;
}
@media screen and (min-width: 760px) {
  #intro h1 {
    width: 70%;
    font-size: 3vw;
  }
}
@media screen and (min-width: 1020px) {
  #intro h1 {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1400px) {
  #intro h1 {
    font-size: 1.5vw;
  }
}
#intro h2 {
  font-weight: lighter;
  text-align: center;
  font-size: 4vw;
}
@media screen and (min-width: 760px) {
  #intro h2 {
    width: 70%;
    font-size: 3vw;
  }
}
@media screen and (min-width: 1020px) {
  #intro h2 {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1400px) {
  #intro h2 {
    font-size: 1.5vw;
  }
}
#intro button {
  margin-top: 20px;
  background: linear-gradient(350deg, #9356DC, #bc95e9);
  border-radius: 50px;
  border: none;
  color: white;
  padding: 20px 30px;
  font-size: 4vw;
  box-shadow: 0 0 15px 5px #99E2D0;
  cursor: pointer;
  opacity: 1;
}
#intro button:hover {
  opacity: 0.9;
  box-shadow: 0 0 5px 5px #99E2D0;
  transition: all 200ms ease-in-out;
}
@media screen and (min-width: 760px) {
  #intro button {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1020px) {
  #intro button {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1400px) {
  #intro button {
    font-size: 1.2vw;
  }
}

.container__title {
  margin: 50px 0 30px 30px;
  font-size: 6vw;
}
@media screen and (min-width: 760px) {
  .container__title {
    font-size: 3vw;
    margin: 20px 0 30px 60px;
  }
}
@media screen and (min-width: 1020px) {
  .container__title {
    margin: 10px 0 30px 30px;
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1400px) {
  .container__title {
    font-size: 2vw;
    margin-left: 30px;
  }
}
.container__title:last-of-type {
  padding-top: 50px;
}
.container:last-of-type {
  background-color: #e8f9f5;
}

.guide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
@media screen and (min-width: 1020px) {
  .guide {
    flex-direction: row;
    justify-content: space-around;
  }
}
.guide__step {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80%;
  margin-bottom: 25px;
  padding: 15px 0;
  background-color: #e8f9f5;
  border-radius: 30px;
  box-shadow: 0 0 20px #99E2D0;
  font-size: 4vw;
  counter-increment: li;
}
@media screen and (min-width: 760px) {
  .guide__step {
    width: 70%;
    font-size: 3vw;
  }
}
@media screen and (min-width: 1020px) {
  .guide__step {
    font-size: 1.6vw;
    padding: 10px 0;
    width: 28%;
  }
}
@media screen and (min-width: 1400px) {
  .guide__step {
    font-size: 1.2vw;
    width: 27%;
  }
}
.guide__step::before {
  content: counter(li);
  color: white;
  background-color: #9356DC;
  border-radius: 15px;
  display: inline-block;
  padding: 0.8vw 2vw;
  margin-left: -15px;
}
@media screen and (min-width: 760px) {
  .guide__step::before {
    padding: 0.8vw 1.8vw;
    border-radius: 30px;
    margin-left: -25px;
  }
}
@media screen and (min-width: 1020px) {
  .guide__step::before {
    padding: 0.4vw 1vw;
    margin-left: -17px;
  }
}
@media screen and (min-width: 1400px) {
  .guide__step::before {
    padding: 0.4vw 0.8vw;
    margin-left: -16px;
  }
}
.guide__step:hover {
  background-color: #f2eafb;
  transition: background-color 200ms ease-in-out;
}
.guide__step:hover .guide__step__icon {
  color: #9356DC;
  transition: color 200ms ease-in-out;
}
.guide__step__icon {
  margin: 0 30px;
  color: #4acbab;
}
@media screen and (min-width: 760px) {
  .guide__step__icon {
    margin: 0 60px;
  }
}
@media screen and (min-width: 1020px) {
  .guide__step__icon {
    margin: 0 20px;
  }
}

@media screen and (min-width: 1020px) {
  .places {
    display: flex;
    flex-wrap: wrap;
  }
}
.places__card {
  padding: 0 0 30px 0;
  margin: 0;
  /*img modifier creation loop*/
}
@media screen and (min-width: 760px) {
  .places__card {
    margin: 0 30px;
  }
}
@media screen and (min-width: 1020px) {
  .places__card {
    width: 50%;
    margin: 0;
  }
}
@media screen and (min-width: 1400px) {
  .places__card {
    width: 25%;
  }
}
.places__card__img--1 {
  margin: 0 30px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  position: relative;
  height: 240px;
  max-width: 100%;
}
@media screen and (min-width: 760px) {
  .places__card__img--1 {
    height: 300px;
  }
}
@media screen and (min-width: 1020px) {
  .places__card__img--1 {
    height: 250px;
  }
}
@media screen and (min-width: 1400px) {
  .places__card__img--1 {
    height: 200px;
  }
}
.places__card__img--1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 62%;
}
.places__card__img--1 p {
  z-index: 1;
  top: 0;
  right: 0;
  margin-right: 15px;
  padding: 10px 10px;
  position: absolute;
  background-color: #99E2D0;
  border-radius: 5px;
}
.places__card__img--2 {
  margin: 0 30px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  position: relative;
  height: 240px;
  max-width: 100%;
}
@media screen and (min-width: 760px) {
  .places__card__img--2 {
    height: 300px;
  }
}
@media screen and (min-width: 1020px) {
  .places__card__img--2 {
    height: 250px;
  }
}
@media screen and (min-width: 1400px) {
  .places__card__img--2 {
    height: 200px;
  }
}
.places__card__img--2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 62%;
}
.places__card__img--2 p {
  z-index: 1;
  top: 0;
  right: 0;
  margin-right: 15px;
  padding: 10px 10px;
  position: absolute;
  background-color: #99E2D0;
  border-radius: 5px;
}
.places__card__img--3 {
  margin: 0 30px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  position: relative;
  height: 240px;
  max-width: 100%;
}
@media screen and (min-width: 760px) {
  .places__card__img--3 {
    height: 300px;
  }
}
@media screen and (min-width: 1020px) {
  .places__card__img--3 {
    height: 250px;
  }
}
@media screen and (min-width: 1400px) {
  .places__card__img--3 {
    height: 200px;
  }
}
.places__card__img--3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 62%;
}
.places__card__img--4 {
  margin: 0 30px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  position: relative;
  height: 240px;
  max-width: 100%;
}
@media screen and (min-width: 760px) {
  .places__card__img--4 {
    height: 300px;
  }
}
@media screen and (min-width: 1020px) {
  .places__card__img--4 {
    height: 250px;
  }
}
@media screen and (min-width: 1400px) {
  .places__card__img--4 {
    height: 200px;
  }
}
.places__card__img--4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 62%;
}
.places__card__info {
  margin: 0 30px;
  padding-left: 15px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 10px 5px #d5f3eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.places__card__info__txt h3 {
  margin-bottom: 0;
}
@media screen and (min-width: 760px) {
  .places__card__info__txt h3 {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1020px) {
  .places__card__info__txt h3 {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 1400px) {
  .places__card__info__txt h3 {
    font-size: 1vw;
  }
}
.places__card__info__txt p {
  margin-top: 5px;
}
@media screen and (min-width: 760px) {
  .places__card__info__txt p {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1020px) {
  .places__card__info__txt p {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 1400px) {
  .places__card__info__txt p {
    font-size: 1vw;
  }
}
.places__card__info__icon {
  width: 7vw;
  margin: 0 20px 0 20px;
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  position: relative;
}
@media screen and (min-width: 1020px) {
  .places__card__info__icon {
    width: 4vw;
  }
}
@media screen and (min-width: 1400px) {
  .places__card__info__icon {
    width: 2vw;
  }
}
.places__card__info__icon__box {
  position: absolute;
  cursor: pointer;
  transform: scale(3);
  margin: 10px 0 0 10px;
  opacity: 0;
}
.places__card__info__icon__box:checked ~ .places__card__info__icon__main path {
  animation: fill-animation 500ms ease-in-out forwards;
}
.places__card__info__icon svg {
  overflow: visible;
  width: 7vw;
}
@media screen and (min-width: 760px) {
  .places__card__info__icon svg {
    width: 5vw;
    margin-right: 0;
  }
}
@media screen and (min-width: 1020px) {
  .places__card__info__icon svg {
    width: 3.5vw;
  }
}
@media screen and (min-width: 1400px) {
  .places__card__info__icon svg {
    width: 2vw;
  }
}
@keyframes fill-animation {
  0% {
    fill: transparent;
    transform: scale(1);
  }
  40% {
    fill: url(#heart-gradient);
    transform: scale(1.1);
    transform-origin: bottom;
    stroke: transparent;
  }
  70% {
    transform: scale(1);
  }
  100% {
    fill: url(#heart-gradient);
    transform: scale(1);
    stroke: transparent;
  }
}

.rest-header a {
  font-size: 5vw;
  flex: 1;
  margin-left: 30px;
}
@media screen and (min-width: 760px) {
  .rest-header a {
    font-size: 3.5vw;
    flex: 2;
    margin-left: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .rest-header a {
    font-size: 2vw;
  }
}
.rest-header p {
  flex: 3;
}
@media screen and (min-width: 760px) {
  .rest-header p {
    flex: 3.5;
  }
}
@media screen and (min-width: 1020px) {
  .rest-header p {
    flex: 3;
  }
}

figure {
  z-index: -1;
  position: relative;
  margin: 0;
}
@media screen and (min-width: 760px) {
  figure {
    height: 300px;
  }
}
figure img {
  width: 100%;
}
@media screen and (min-width: 760px) {
  figure img {
    max-height: 100%;
    object-fit: cover;
    object-position: center 60%;
  }
}
@media screen and (min-width: 1400px) {
  figure img {
    object-position: center 62%;
  }
}

.rest-container {
  display: flex;
  flex-direction: column;
  background-color: #e8f9f5;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
}
@media screen and (min-width: 760px) {
  .rest-container {
    border-radius: 0;
  }
}
.rest-container__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 10px 30px;
}
@media screen and (min-width: 1020px) {
  .rest-container__heading {
    padding: 20px 30px 10px 30px;
  }
}
.rest-container__heading h2 {
  margin: 0;
  font-family: shrikhand, cursive;
  font-size: 7vw;
}
@media screen and (min-width: 760px) {
  .rest-container__heading h2 {
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 1020px) {
  .rest-container__heading h2 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1400px) {
  .rest-container__heading h2 {
    font-size: 2vw;
  }
}
.rest-container__course {
  color: #1b6150;
  margin: 50px 0 5px 30px;
  font-size: 5vw;
}
@media screen and (min-width: 760px) {
  .rest-container__course {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1020px) {
  .rest-container__course {
    font-size: 2vw;
    margin: 20px 0 5px 20px;
  }
}
@media screen and (min-width: 1400px) {
  .rest-container__course {
    font-size: 1.2vw;
    margin-left: 30px;
  }
}
.rest-container__divider {
  height: 3px;
  width: 60px;
  background-color: #99E2D0;
  margin-left: 30px;
}
@media screen and (min-width: 760px) {
  .rest-container__divider {
    height: 3px;
    width: 80px;
  }
}
@media screen and (min-width: 1020px) {
  .rest-container__divider {
    height: 4px;
    width: 80px;
  }
}
.rest-container__menu {
  margin: 0 30px;
  padding: 0;
}
@media screen and (min-width: 1020px) {
  .rest-container__menu {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1020px) {
  .rest-container__menu--note {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.rest-container__menu__option {
  background-color: white;
  display: flex;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0 0 20px #99E2D0;
  overflow: hidden;
}
.rest-container__menu__option i {
  color: #99E2D0;
  background-color: white;
  padding: 5px 5px;
  border-radius: 15px;
  transform: rotate(-360deg);
}
.rest-container__menu__option:hover .rest-container__menu__option__check {
  width: 80px;
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}
.rest-container__menu__option:hover .rest-container__menu__option__check i {
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}
.rest-container__menu__option:not(:hover) .rest-container__menu__option__check {
  transform: translateX(100%) scaleX(0);
  transition: all 300ms ease-in-out;
}
.rest-container__menu__option__box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: scale(30, 6);
  opacity: 0;
  cursor: pointer;
}
.rest-container__menu__option__box:checked ~ .rest-container__menu__option__check {
  width: 80px;
  transform: scaleX(1) translateX(0);
  animation: darker-menu-opt 200ms ease-in-out forwards;
}
.rest-container__menu__option__box:checked ~ .rest-container__menu__option__check i {
  transform: rotate(0deg);
  animation: pulse 200ms ease-in-out;
  color: #4acbab;
}
@keyframes darker-menu-opt {
  from {
    background-color: #99E2D0;
  }
  to {
    background-color: #4acbab;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.rest-container__menu__option__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
}
.rest-container__menu__option--1 {
  opacity: 0;
  animation: appear 300ms ease-in-out 0ms forwards;
}
.rest-container__menu__option--2 {
  opacity: 0;
  animation: appear 300ms ease-in-out 200ms forwards;
}
.rest-container__menu__option--3 {
  opacity: 0;
  animation: appear 300ms ease-in-out 400ms forwards;
}
.rest-container__menu__option--4 {
  opacity: 0;
  animation: appear 300ms ease-in-out 600ms forwards;
}
.rest-container__menu__option--5 {
  opacity: 0;
  animation: appear 300ms ease-in-out 800ms forwards;
}
.rest-container__menu__option--6 {
  opacity: 0;
  animation: appear 300ms ease-in-out 1000ms forwards;
}
.rest-container__menu__option--7 {
  opacity: 0;
  animation: appear 300ms ease-in-out 1200ms forwards;
}
.rest-container__menu__option--8 {
  opacity: 0;
  animation: appear 300ms ease-in-out 1400ms forwards;
}
.rest-container__menu__option--9 {
  opacity: 0;
  animation: appear 300ms ease-in-out 1600ms forwards;
}
.rest-container__menu__option--10 {
  opacity: 0;
  animation: appear 300ms ease-in-out 1800ms forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 1020px) {
  .rest-container__menu__option {
    width: 32%;
  }
}
.rest-container__menu__option > p {
  align-self: flex-end;
  margin: 10px;
  font-size: 4vw;
}
@media screen and (min-width: 760px) {
  .rest-container__menu__option > p {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1020px) {
  .rest-container__menu__option > p {
    font-size: 1.5vw;
    padding: 0 15px 5px 0;
  }
}
@media screen and (min-width: 1400px) {
  .rest-container__menu__option > p {
    font-size: 1vw;
  }
}
.rest-container__menu__option__txt {
  padding-left: 20px;
  overflow: hidden;
  flex: 2;
}
.rest-container__menu__option__txt h3 {
  margin: 15px 0 5px 0;
  font-size: 4.5vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 760px) {
  .rest-container__menu__option__txt h3 {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1020px) {
  .rest-container__menu__option__txt h3 {
    font-size: 1.3vw;
  }
}
@media screen and (min-width: 1400px) {
  .rest-container__menu__option__txt h3 {
    font-size: 1vw;
  }
}
.rest-container__menu__option__txt p {
  font-size: 3.9vw;
  margin: 0 0 15px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 760px) {
  .rest-container__menu__option__txt p {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1020px) {
  .rest-container__menu__option__txt p {
    font-size: 1.3vw;
  }
}
@media screen and (min-width: 1400px) {
  .rest-container__menu__option__txt p {
    font-size: 1vw;
  }
}
.rest-container__btn {
  align-self: center;
  width: 40%;
  margin: 30px 0 60px 0;
  background: linear-gradient(350deg, #9356DC, #bc95e9);
  border-radius: 50px;
  border: none;
  color: white;
  padding: 20px 30px;
  font-size: 4vw;
  box-shadow: 0 0 15px 5px #99E2D0;
  opacity: 1;
  cursor: pointer;
}
.rest-container__btn:hover {
  opacity: 0.9;
  box-shadow: 0 0 5px 5px #99E2D0;
  transition: all 200ms ease-in-out;
}
@media screen and (min-width: 760px) {
  .rest-container__btn {
    font-size: 2.5vw;
    width: 30%;
  }
}
@media screen and (min-width: 1020px) {
  .rest-container__btn {
    font-size: 1.5vw;
    width: 20%;
    margin-top: 50px;
  }
}

#note-img img {
  height: 330px;
  object-fit: cover;
  object-position: center 70%;
}
@media screen and (min-width: 760px) {
  #note-img img {
    height: 100%;
    object-position: center 20%;
  }
}

/*# sourceMappingURL=style.css.map */
