header {
    @include flex-center-x2;
    p {
        font-family:  shrikhand, cursive;
        font-size: 7.5vw;
        margin: 0;
        padding: 10px 0;
        @media screen and (min-width:760px) {
            font-size: 4vw;
        }
        @media screen and (min-width:1020px) {
            font-size: 3vw;
        }
        @media screen and (min-width:1400px) {
            font-size: 2.5vw;
        }
    }
}