.rest-container {
    display: flex;
    flex-direction: column;
    background-color: $lighter-tert-clr;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    @media screen and (min-width:760px) {
        border-radius: 0;
    }
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 20px 10px 30px;
        @media screen and (min-width:1020px) {
            padding: 20px 30px 10px 30px;
        }
        h2 {
            margin: 0;
            font-family: shrikhand, cursive;
            font-size: 7vw;
            @media screen and (min-width:760px) {
                font-size: 4.5vw;
            }
            @media screen and (min-width:1020px) {
                font-size: 3vw;
            }
            @media screen and (min-width:1400px) {
                font-size: 2vw;
            }
        }
    }
    &__course {
        color: darken($tertiary-clr, 50%);
        margin: 50px 0 5px 30px;
        font-size: 5vw;
        @media screen and (min-width:760px) {
            font-size: 3vw;
        }
        @media screen and (min-width:1020px) {
            font-size: 2vw;
            margin: 20px 0 5px 20px;
        }
        @media screen and (min-width:1400px) {
            font-size: 1.2vw;
            margin-left: 30px;
        }
    }
    &__divider {
        height: 3px;
        width: 60px;
        background-color: $tertiary-clr;
        margin-left: 30px;
        @media screen and (min-width:760px) {
            height: 3px;
            width: 80px;
        }
        @media screen and (min-width:1020px) {
            height: 4px;
            width: 80px;
        }
    }
    &__menu {
        margin: 0 30px;
        padding: 0;
        @media screen and (min-width:1020px) {
            display: flex;
            justify-content: space-around;
        }
        &--note {
            @media screen and (min-width:1020px) {
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        &__option {
            background-color: white;
            display: flex;
            margin: 20px 0;
            border-radius: 20px;
            box-shadow: 0 0 20px $tertiary-clr;
            overflow: hidden;
            i {
                color: $tertiary-clr;
                background-color: white;
                padding: 5px 5px;
                border-radius: 15px;
                transform: rotate(-360deg);
            }
            &:hover {
                .rest-container__menu__option__check {
                    width: 80px;
                    transform: translateX(0);
                    transition: all 300ms ease-in-out;
                    i {
                        transform: rotate(0deg);
                        transition: transform 300ms ease-in-out;
                    }
                }
            }
            &:not(:hover) {
                .rest-container__menu__option__check {
                    transform: translateX(100%) scaleX(0);
                    transition: all 300ms ease-in-out;
                }
            }
            &__box {
                position: absolute;
                left: 50%;
                top: 40%;
                transform: scale(30, 6);
                opacity: 0;
                cursor: pointer;
                &:checked {
                    ~.rest-container__menu__option__check {
                        width: 80px;
                        transform: scaleX(1) translateX(0);
                        animation: darker-menu-opt 200ms ease-in-out forwards;
                        i {
                            transform: rotate(0deg);
                            animation: pulse 200ms ease-in-out;
                            color: $dark-tert-clr;
                        }
                    }
                }
                @keyframes darker-menu-opt {
                    from {
                        background-color: $tertiary-clr;
                    }
                    to {
                        background-color: $dark-tert-clr;
                    }
                }
                @keyframes pulse {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(1.2);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
            &__check {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 0px;
                background-color: $tertiary-clr;
                border-radius: 0 20px 20px 0;
            }
/*This loop generates the animation for .menu__option with a different delay and modifiers*/
            @while $opt-numb <= 10 {
                &--#{$opt-numb} {
                    opacity: 0;
                    animation: appear 300ms ease-in-out $anim-delay forwards;
                }
                $opt-numb: $opt-numb + 1;
                $anim-delay: $anim-delay + 200ms;
            }
            @keyframes appear {
                from {
                    opacity: 0;
                    transform: translateY(10%);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            @media screen and (min-width:1020px) {
                width: 32%;
            }
            &> p {
                align-self: flex-end;
                margin: 10px;
                font-size: 4vw;
                @media screen and (min-width:760px) {
                    font-size: 3vw;
                }
                @media screen and (min-width:1020px) {
                    font-size: 1.5vw;
                    padding: 0 15px 5px 0;
                }
                @media screen and (min-width:1400px) {
                    font-size: 1vw;
                }
            }
            &__txt {
                padding-left: 20px;
                overflow: hidden;
                flex: 2;
                h3 {
                    margin: 15px 0 5px 0;
                    font-size: 4.5vw;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    @media screen and (min-width:760px) {
                        font-size: 2.5vw;
                    }
                    @media screen and (min-width:1020px) {
                        font-size: 1.3vw;
                    }
                    @media screen and (min-width:1400px) {
                        font-size: 1vw;
                    }
                }
                p {
                    font-size: 3.9vw;
                    margin: 0 0 15px 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    @media screen and (min-width:760px) {
                        font-size: 2.5vw;
                    }
                    @media screen and (min-width:1020px) {
                        font-size: 1.3vw;
                    }
                    @media screen and (min-width:1400px) {
                        font-size: 1vw;
                    }
                }
            }
        }
    }
}